<section id="about" class="fade-in delay-2 about-section">
    <div class="about-card">
        <div class="about-corner about-corner-tl"></div>
        <div class="about-corner about-corner-br"></div>

        <h2 class="about-title">
            <span>01.</span> [ Who am I? ]
            <div class="about-title-line"></div>
        </h2>

        <div class="about-content">
            <p>I am Darshan Patel, an undergraduate Computer Science student.</p>
            <p>I am driven by the field of computer science due to the power they give to
                humans to explore and understand the World, the Universe and its Laws. Along with Computer Science core,
                I am particularly learning and exploring <b>Core AI/ML</b> as it
                will eventually allow humans to get a deeper understanding of them, and also may be built a concious
                system in future! I am also learning and exploring Quantum Computing. I'm also driven by a desire to
                solve meaningful problems and make an impact through technology.</p>

            <p>Always eager to learn and gain knowledge, I'm curious about how and why
                things work that way. Critical thinking, deep analysis, and problem-solving are at the heart of how I
                approach challenges. Connecting the dots between different fields and domains is what I seem to be good
                at, which requires Always able to comprehend the Bigger Picture.</p>

            <p>I love to explore new technologies and study their working principles. I
                adapt to newer technologies and tools in the universe of computer science pretty quickly (from my
                experience!).</p>

            <p>Beyond computer science, I have a deep love for Physics, Mathematics, and
                I'm fascinated by the mysteries of Astronomy - especially how technology can help us explore the
                universe and beyond.</p>

            <p>My curiosity also pulls me into Metaphysics and Philosophy - connecting
                them with Astronomy and Quantum Realm. I often ponder about the reality, existence, and the universe.
            </p>

            <p>Alongside my CS studies, I'm actively practicing Competitive Programming,
                building projects in Systems, Softwares and Full Stack Web Development. And exploring Neural Networks.
            </p>

            <div class="about-status">
                <span class="about-status-label">>_ STATUS:</span> 
                <span class="about-status-value"><i>A bit of Polymath.</i></span>
            </div>
        </div>
    </div>
</section>
