<section id="connect" class="fade-in delay-2 connect-section">
    <div class="connect-top-bar"></div>

    <h2 class="connect-title">
        Connect
    </h2>
    <p class="connect-desc">
        Whether you are a Recuiter having Internship or Job opportunity, or if you're interested in collaborating on a
        project, have a question, or just want to discuss anything, feel free to reach out! I am always open to new
        ideas and deep discussions.
    </p>
    <a href="/contact" class="btn btn-primary connect-btn">
        Get in Touch <span class="connect-btn-arrow">>_</span>
    </a>
</section>
